<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ejercicio 6</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="contenedor">
    <ion-row>
      <ion-col class="celda" size="2"><ion-icon name="logo-octocat" class="icon"></ion-icon></ion-col>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"></ion-col>
      <ion-col class="celda" size="2"><ion-icon name="md-exit"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>