<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">
      EJERCICIOS BÁSICOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button shape="round" color="primary" expand="full" href="/ejercicio01" routerDirection="forward" >Ejercicio 1</ion-button>
  <ion-button shape="round" color="primary" expand="full" class="ejercicio" href="/ejercicio02" routerDirection="forward">Ejercicio 2</ion-button>
  <ion-button shape="round" color="primary" expand="full" class="ejercicio" href="/ejercicio03" routerDirection="forward">Ejercicio 3</ion-button>
  <ion-button shape="round" color="primary" expand="full" class="ejercicio" href="/ejercicio04" routerDirection="forward">Ejercicio 4</ion-button>
  <ion-button shape="round" color="primary" expand="full" class="ejercicio" href="/ejercicio05" routerDirection="forward">Ejercicio 5</ion-button>
  <ion-button shape="round" color="primary" expand="full" class="ejercicio" href="/ejercicio06" routerDirection="forward">Ejercicio 6</ion-button>
  <ion-button shape="round" color="primary" expand="full" class="ejercicio" href="/ejercicio07" routerDirection="forward">Ejercicio 7</ion-button>
</ion-content>
